---
---

<header class="bg-[#1cc2ad] pt-8 pb-8 fixed w-full z-10">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-10 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
                <a class="block text-teal-600" href="/">
                    <img class="h-20" src="/images/logo-tatei.png" alt="Logo Tatei">
                </a>
            </div>
            <div class="md:flex md:items-center md:gap-12">
                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex gap-6 items-center uppercase text-lg ">
                        <li>
                            <a class="text-white transition hover:text-[#eea62c]" href="/">Inicio</a>
                        </li>
                        <li>
                            <a class="text-white transition hover:text-[#eea62c]" href="#nosotros">Nosotros</a>
                        </li>
                        <li>
                            <a class="text-white transition hover:text-[#eea62c]" href="#prototipos">Prototipos</a>
                        </li>
                        <li>
                            <a class="text-white transition hover:text-[#eea62c]" href="#contacto">Contacto</a>
                        </li>
                        <li>
                            <a class="text-white transition hover:text-[#eea62c] text-xl" target="_blank" href="https://www.facebook.com/profile.php?id=100093152359431"><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li>
                            <a class="text-white transition hover:text-[#eea62c] text-xl" target="_blank" href="https://www.instagram.com/tatei.ocean/"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                    </ul>
                </nav>
                <nav class="md:hidden">
                    <div class="text-[#eea62c] text-2xl">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>