---
---
<div class="fixed top-0 bottom-0 left-0 right-0 bg-[rgba(0,0,0,.3)] z-20 items-center justify-center hidden" id="popup">
    <div class="bg-white p-2 relative max-w-[1000px] mx-2">
        <div class="absolute top-2 right-2 bg-[#F5A424] w-5 h-5 text-center rounded-sm text-white z-10" id="closePopup">X</div>
        <div id="contentPopup" class="max-h-[80vh]"></div>
    </div>
</div>