---

---

<div class="container w-11/12 mx-auto">
    <div thumbsSlider="" class="swiper mySwiper2 mb-5" style="--swiper-navigation-color: #f5a425; --swiper-pagination-color: #f5a425" >
        <div class="swiper-wrapper" id="room-cards">
        </div>
    <div class="swiper-button-next top-[70px]"></div>
    <div class="swiper-button-prev top-[70px]"></div>

    </div>
    <div
        style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
        class="swiper mySwiper3 "
        
    >
        <div class="swiper-wrapper" id="room-slide">

        </div>


    </div>

</div>
