---
---
<div class="fixed left-1 bottom-4 md:left-8 md:bottom-8 w-full z-10 hidden" id="whatsapp"> 
    <a class=" transition-all text-white text-xl font-bold uppercase bg-[#1cc2ad] p-3 rounded-md hover:bg-[#f5a425]" href="#">
        Contact <i class="fa-brands fa-whatsapp"></i>
    </a>
</div>
