@font-face {
    font-family: 'Javacom';
    src: url('/fonts/Javacom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Gotham-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}



*{
    font-family: 'Gotham';
}


#promotional{
    background: linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),url(/images/TIZATE_AERERO_01.webp);
    background-size: cover;
    background-position: center;
}


.gradient-bg{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,0.2) 20%, rgba(0,0,0,0) 50%);
}
