--- 
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import WhatsApp from '../components/WhatsApp.astro';
import Popup from '../components/Popup.astro';
import '../global.css';


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<title>{title}</title>
		<meta name="description" content="Descubre Tatei Ocean, tu refugio de estilo de vida y exclusividad en la hermosa Riviera Nayarit. Sumérgete en la belleza natural de este paraíso costero mientras disfrutas de amenidades de primera clase.">
		<meta property="og:type" content="website" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content="Descubre Tatei Ocean, tu refugio de estilo de vida y exclusividad en la hermosa Riviera Nayarit. Sumérgete en la belleza natural de este paraíso costero mientras disfrutas de amenidades de primera clase." />
		<meta property="og:image" content="/img/mural-1.png" />
		<script src="https://kit.fontawesome.com/3cf3afd2bb.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"/>
	</head>
	<body>
		<Popup />
		<Navbar />
			<slot />
		<Footer />
		<WhatsApp />
		<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>

		<!-- Initialize Swiper -->
		<script src="../app.js"></script>

	</body>
</html>

